<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:regular">
    <style>
        * {
		    font-family: "Montserrat", sans-serif
	    }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <title>{{map_name}} Map</title>
</head>
<body>
    <div id="main">
        <button onclick=updatePositions()>Update Active Spawns</button>
        <button onclick=trackPlayer() id="trackPlayerButton">Track Player Position</button>
        <button onclick=placeTeleport() id="placeTeleportButton">Teleport</button>
        <label for="y">Height:</label>
        <input type="number" id="y" value=50>
        <label for="rolls">Shiny Rolls:</label>
        <input type="number" id="rolls" value=1>
        <br>
        <button onclick="window.location.href='../'">Back</button>
    </div>
    <div id="map"></div>
    <script src="{{ url_for('static', filename='js/universal.js') }}"></script>
    <script>
        let coordinates = {};
        let popupCoordinates = [0,0,0];
        let teleporting = false;
        let tracking = false;
        let player_marker;
        let positionUpdater;

        map.on('click', function(e){
            if (teleporting) {
                let coords = e.latlng;
                teleport(revertCoordinates([coords['lat'], coords['lng']]));
                teleporting = false;
                document.getElementById("placeTeleportButton").textContent = "Teleport";
            }
        });
        L.tileLayer("https://www.serebii.net/pokearth/hisui/{{map_name}}/tile_{z}-{x}-{y}.png", {
            minZoom: 0,
            maxZoom: 2,
            noWrap: true,
            attribution: "Pok&eacute;mon Legends: Arceus",//map label in bottom right
        }).addTo(map);

        function convertCoords(coordinates) {
            return [coordinates[2] * -0.5, coordinates[0] * 0.5];
        }
        function revertCoordinates(coordinates) {
            return [coordinates[1] / 0.5, parseInt(document.getElementById("y").value), coordinates[0] / -0.5];
        }
        function readPlayerCoords() {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/read-coords", true);
            xhr.onload = parseInfo;
            function parseInfo()
            {
                let coords = JSON.parse(xhr.responseText);
                console.log(coords);
                if (player_marker != null) {
                    player_marker.remove();
                }
                player_marker = L.marker(convertCoords([coords["x"], coords["y"], coords["z"]]), { riseOnHover: true, icon:  L.icon({ iconUrl: "{{ url_for('static', filename='resources/player.png') }}", iconSize: [ 32, 32 ], iconAnchor: [ 16, 16 ] })});
                player_marker.addTo(map);
            }
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send();
        }
        function teleport(coords) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/teleport", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                coords: coords
            }));
        }
        function updatePositions(e) {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/update-positions", true);
            xhr.onload = parseInfo;
            function parseInfo()
            {
                coordinates = {};
                let spawns = JSON.parse(xhr.responseText);
                let keys = Object.keys(spawns);
                for (let i = 0; i < keys.length; i++) {
                    let key = keys[i];
                    let item = spawns[key];
                    coordinates[i.toString()] = [item['x'],item['y'],item['z']];
                    let coords = convertCoords([item['x'],item['y'],item['z']])
                    console.log(coords);
                    L.marker(coords, { icon:  L.icon({ riseOnHover: true, iconUrl: "{{ url_for('static', filename='resources/pokemon.png') }}", iconSize: [ 32, 32 ], iconAnchor: [ 16, 16 ] }), spawnerID: parseInt(key), ivs: 0 }).addTo(map).bindPopup(`<button onclick="teleport(coordinates[${i}])">Teleport to spawner id ${key}</button>`)
                    .on("click",popupOnClick);
                }
            }
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(null);
        }
        function popupOnClick(e) {
            let latlng = e.latlng;
            popupCoordinates = revertCoordinates([latlng["lat"], latlng["lng"]]);
            if (e.sourceTarget.options.spawnerID != -1) {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/read-seed", true);
                xhr.onload = checkData;
                function checkData() {
                    var popup = e.target.getPopup();
                    popup.setContent( popup.getContent().split('<br>')[0] + '<br>' + xhr.responseText );
                    console.log(xhr.responseText);
                }
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({
                    spawnerID: e.sourceTarget.options.spawnerID,
                    ivs: e.sourceTarget.options.ivs,
                    rolls: parseInt(document.getElementById("rolls").value)
                }));
            }
        }
        function trackPlayer() {
            if (tracking) {
                player_marker.remove();
                clearInterval(positionUpdater);
                document.getElementById("trackPlayerButton").textContent = "Track Player Position";
                tracking = false;
            }
            else {
                positionUpdater = setInterval(readPlayerCoords,2500);
                document.getElementById("trackPlayerButton").textContent = "Stop Tracking";
                tracking = true;
            }
        }
        function placeTeleport() {
            if (teleporting) {
                teleporting = false;
                document.getElementById("placeTeleportButton").textContent = "Teleport";
            }
            else {
                teleporting = true;
                document.getElementById("placeTeleportButton").textContent = "Cancel Teleport";
            }
        }
        function teleportPopup() {
            teleport([popupCoordinates[0],parseInt(document.getElementById("y").value),popupCoordinates[2]]);
        }
        let alpha = L.icon({
                iconUrl: "https://www.serebii.net/pokearth/hisui/icons/alpha.png",
                iconSize: [ 32, 32 ],
                iconAnchor: [ 16, 16 ],
            });
        let iURL;
        let popupText;
        {% for marker in markers %}
            {% if marker.spawnerID == -1 +%}
        popupText = `<button onclick=teleportPopup()>Teleport to marker id ${"{{marker.markerID}}"}</button>`;
        iURL = `https://github.com/Lincoln-LM/JS-Finder/raw/main/Resources/${"{{marker.icon}}".split("/")[4].slice(0,-4)}-greyed.png`;
            {% else %}
        popupText = `<button onclick=teleportPopup()>Teleport to marker id ${"{{marker.markerID}}"} spawner id ${"{{marker.spawnerID}}"}</button>`;
        iURL = "https://www.serebii.net{{marker.icon}}"
            {% endif %}
        L.marker({{ marker.coords }}, { riseOnHover: true, icon:  L.icon({ iconUrl: iURL, iconSize: [ 32, 32 ], iconAnchor: [ 16, 16 ] }), spawnerID: {{ marker.spawnerID }}, markerID: {{ marker.markerID }}, ivs: {{ marker.ivs }} }).addTo(map)
        .bindPopup(popupText)
        .on("click",popupOnClick);
        {% endfor %}
    </script>
</body>
</html>